.activelist {
  min-width: 1150px;
  background: #eee url(http://static.doc88.com/assets/images/activelist-bg.png)
    repeat-x top;
}

.mainpart {
  margin: auto;
  width: 1150px;
}

.columns {
  float: left;
  width: 25%;
  padding: 20px 0;
  color: #666;
}

.adcontainer div,
a,
img,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: Microsoft Yahei, "宋体";
}

.columns h3 a {
  padding-bottom: 10px;
  font: 18px/100% "微软雅黑";
  color: #333;
}

.columns h3 {
  padding-bottom: 10px;
  font: 18px/100% "微软雅黑";
  color: #333;
}

ol,
ul {
  list-style: none;
}

.columns ul {
  float: left;
  padding: 5px 50px 0 0;
}

.columns li {
  line-height: 2;
}

.columns li a.weibo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.columns li a {
  color: #666;
  text-decoration: none;
}

.columns-ad {
  float: left;
}

.columns-ad .qrcode {
  float: left;
  margin: 8px 10px 0;
  padding: 2px 2px 5px;
  background: white;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

.columns-ad .qrcode img {
  width: 100px;
  margin-bottom: 5px;
}
